<h1>CPU Technical Info</h1>
<h2><%= @cpu.model %></h2>
<ul>
  <li>Speed: <%= @cpu.speed %> GHz</li>
  <li>Cores: <%= @cpu.cores %></li>
  <li>Price: $<%= @cpu.price %></li>
</ul>

<%= link_to "View all CPU's", cpus_path %>
