<h1>Login</h1>
<h1>Welcome to PC Shopper!</h1>
<h4><%= flash[:notice] %></h4>
<div class="login-form">
<%= form_tag(login_path) do %>
  <%= label_tag :username %><br>
  <%= text_field_tag :username %><br><br>

  <%= label_tag :password %><br>
  <%= password_field_tag :password %><br>

  <%= submit_tag 'Login' %>
<% end %>
<br>
<%= button_to "Create New User", "/users/new", :method => "get" %>
</div>
