<h1>New User Page</h1>
<ul>
  <% if @errors %>
  <% @errors.each do |error| %>
  <li> <%= error %> </li>
  <% end %>
  <% end%>
</ul>

<h4><%= flash[:notice] %></h4>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit %>
<% end %>
