<h1>New User Page</h1>
<h1>Welcome to PC Shopper!</h1>
<h4><%= flash[:notice] %></h4>
<div class="login-form">
<%= form_for @user do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.submit "Create User"%>
<% end %>
<br>
<%= button_to "Back to Login", "/login", :method => "get" %>
</div>
