<h1><%= @user.user_name %>'s User Page</h1>
<h2>Builds:</h2>
<ul>
<% @user.builds.each do |build| %>
<h3><%= build.build_name %></h3>
  <li>CPU: <%= build.cpu.model %></li>
  <li>Card: <%= build.card.model %></li>
  <li>Mobo: <%= build.mobo.model %></li>
  <li>Ram: <%= build.ram.model %></li>
  <li>PSU: <%= build.psu.model %></li>
  <li>Case: <%= build.case.model %></li>
  <li>Storage: <%= build.storage.model %></li>
  <%= link_to "Build", build_path(build) %>
  <br>
<% end %>
</ul>
