<h1>Motherboard Technical Info</h1>
<h2><%= @mobo.model %></h2>
<ul>
  <li>Ram Slots: <%= @mobo.ram_slots %></li>
  <li>Type: <%= @mobo.mobo_type %></li>
  <li>Price: $<%= @mobo.price %></li>
</ul>

<%= link_to "View all Motherboards", mobos_path %>
