<h1>Storage List</h1>
<ul>
<% @storages.each do |storage| %>
<h2><%= storage.model %></h2>

  <li>Capacity: <%= storage.capacity %> GB</li>
  <li>Type: <%= storage.drive_type %></li>
  <li>Price: $<%= storage.price %></li>

<% end %>
</ul>

<h3>Most Popular: <%= Storage.most_popular %></h3>
