<h1>Ram List</h1>
<ul>
<% @rams.each do |ram| %>
  <h2><%= ram.model %></h2>
  <li>Type: <%= ram.speed %></li>
  <li>Size: <%= ram.size %> GB</li>
  <li>Price: $<%= ram.price %></li>
<% end %>
</ul>

<h3>Most Popular: <%= Ram.most_popular %></h3>
