<h1>Ram Technical Info</h1>
<h2><%= @ram.model %></h2>
<ul>
  <li>Type: <%= @ram.speed %></li>
  <li>Size: <%= @ram.size %> GB</li>
  <li>Price: $<%= @ram.price %></li>
</ul>

<%= link_to "View all Ram", rams_path %>
