<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<div class="navbar navbar-dark bg-dark">
  <div class="navbar-a">
    <% if !!current_user %>
        <a href="/builds">All Builds</a>
        <a href= <%= "/users/#{current_user.id}" %>>My Builds</a>
        <a href= '/logout' data-method="delete">Logout</a>
    <% end %>
  </div>
  <div class="navbar-search">
    <form action="/login">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn" type="submit">Go!</button>
          <!-- <cpi class="glyphicon glyphicon-search"></i> -->
            <!-- </button> -->
          </div>
        </div>
      </form>
  </div>
</div>
