<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<div class="navbar navbar-dark bg-dark">
  <a href="/builds">Your Builds</a>
  <a href= '/logout' >Logout</a>
  <form class="navbar-form navbar-left" action="">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-btn">
        <button class="btn" type="submit">Go!</button>
          <!-- <i class="glyphicon glyphicon-search"></i> -->
        <!-- </button> -->
      </div>
    </div>
  </form>
</div>
